<div class="container">
  <div class="row">

    <div class="col-6">
      <h6><b>Login or <button class="btn btn-link" (click)="signUp()"> Register</button></b></h6>
      <!--</div>
      <div class="col-6">-->
      <div id="failedLogin"></div>

      <form [formGroup]="form" (ngSubmit)="signInUser()">
        <!--<button type="submit" class="btn btn-success btn-block">Login</button>-->
        <div class="form-group">
          <!--<label>Username</label>-->
          <input type="text" value="test" class="form-control" formControlName="username" placeholder="username" required>
        </div>
        <div class="form-group">
          <!--<label>Password</label>-->
          <input type="password" value="test" class="form-control" formControlName="password" placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-success btn-custom">Login</button>
      </form>
      
      <div class="card text-center">
        <div class="card-block">
          <button class="btn btn-danger btn-social" #loginRef>
            <span class="fa fa-google fa-1x"> &nbsp;Login with Google</span>
          </button>
          <button class="btn btn-primary btn-social" style="float: none;" (click)="login()">
            <span class="fa fa-facebook fa-1x"> &nbsp;Login with Facebook</span>
          </button>
        </div>
      </div>

      <!--<button type="button" class="btn btn-block btn-social btn-lg btn-facebook">Facebook</button>-->

      <!--<div class="container mt-5">
        <h2>Google Login</h2>
        <div class="row mt-5">
          <div class="col-md-4 mt-2 m-auto ">
            <button class="btn btn-social-icon btn-google mx-1" #loginRef>
              <span class="fa fa-google">Sign-in with Google</span>
            </button>
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <h2>Facebook Login</h2>
        <div class="row mt-5">
          <div class="col-md-4 mt-2 m-auto ">
            <button class="btn btn-social-icon btn-facebook mx-1" (click)="login()">
              <span class="fa fa-facebook">Sign-in with Facebook</span>
            </button>
          </div>
        </div>
      </div>-->

    </div>

  </div>
</div>

