
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 12rem;
  margin: 2rem;
  height: 18rem;
  /*width: 10rem;*/
  /*border-bottom: .1rem #c0c0c0 solid;*/
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
}

a {
  color: #178f99;
  font-weight: 400;
  padding: 2px 2px 2px 2px;
}

div {
  padding-bottom: 1px;
}

/*.card {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.5);
  transition: 0.5s;
  width: 100%;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  background-color: white;
}

p {
  padding-bottom: 20px;
  margin: auto;
}

i {
  padding: 2px 2px 2px 2px;
}

.card:hover {
    box-shadow: 4px 6px 32px 4px rgba(10,10,10,5);
}

.card-container {
  text-align: center;
  padding: 5px 5px 5px 5px;
}

img {
  border-radius: 5px 5px 0 0;
}

h4 {
  color: black;
}

h5 {
  color: darkblue;
}*/
