.card {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.5);
  transition: 0.5s;
  width: 100%;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  background-color: white;
  /*background-color: whitesmoke;*/
}

p {
  padding-bottom: 20px;
  margin: auto;
}

div {
  padding-bottom: 20px;
  /*margin: auto;*/
}

i {
  padding: 2px 2px 2px 2px;
}

.card:hover {
    box-shadow: 4px 6px 32px 4px rgba(10,10,10,5);
}

.card-container {
  /*padding: 5px 10px;*/
  text-align: center;
  padding: 5px 5px 5px 5px;
}

a {
  color: #178f99;
  font-weight: 400;
  padding: 2px 2px 2px 2px;
}

img {
  border-radius: 5px 5px 0 0;
}

h4 {
  color: black;
}

h5 {
  color: darkblue;
}

/*.section-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 5px 5px;
}*/
