
<ul class="products">
  <li *ngFor="let s of stats">
    <div className="product">
      <div>
        <h5><b>{{ s.Name }}</b></h5>
      </div>
      <div>
        <small>{{ s.Purpose }}</small>
      </div>
      <div>
        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
        <a routerLink="/survey-take/{{ s.Id }}">Take Survey</a>
      </div>
      <div>
        <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
        <a routerLink="/summary-detail/{{ s.Id }}/0">View Stats</a>
      </div>
    </div>
  </li>
</ul>


<!--<div class="container">
  <div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-container" title="{{ stats[0].Purpose }}">
          <i class="fa fa-question-circle fa-1x" aria-hidden="true"></i>
          <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
          <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
          <p>{{ stats[0].Count }} Respondents</p>
          <h5><b>{{ stats[0].Name }}</b></h5>
          <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          <a routerLink="/survey-take/{{ stats[0].Id }}">Take Survey</a>
          <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
          <a routerLink="/summary-detail/{{ stats[0].Id }}/0">View Stats</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-container" title="{{ stats[1].Purpose }}">
          <i class="fa fa-question-circle fa-1x" aria-hidden="true"></i>
          <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
          <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
          <p>{{ stats[1].Count }} Respondents</p>
          <h5><b>{{ stats[1].Name }}</b></h5>
          <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          <a routerLink="/survey-take/{{ stats[1].Id }}">Take Survey</a>
          <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
          <a routerLink="/summary-detail/{{ stats[1].Id }}/0">View Stats</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-container" title="{{ stats[2].Purpose }}">
          <i class="fa fa-question-circle fa-1x" aria-hidden="true"></i>
          <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
          <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
          <p>{{ stats[2].Count }} Respondents</p>
          <h5><b>{{ stats[2].Name }}</b></h5>
          <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          <a routerLink="/survey-take/{{ stats[2].Id }}">Take Survey</a>
          <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
          <a routerLink="/summary-detail/{{ stats[2].Id }}/0">View Stats</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-container" title="{{ stats[3].Purpose }}">
          <i class="fa fa-question-circle fa-1x" aria-hidden="true"></i>
          <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
          <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
          <p>{{ stats[3].Count }} Respondents</p>
          <h5><b>{{ stats[3].Name }}</b></h5>
          <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
          <a routerLink="/survey-take/{{ stats[3].Id }}">Take Survey</a>
          <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
          <a routerLink="/summary-detail/{{ stats[3].Id }}/0">View Stats</a>
        </div>
      </div>
    </div>
  </div>
</div>-->
