<div class="section-container">
  <h4>
    <span id="page-label" class="badge badge-primary">Survey Results</span> <em>{{ survey }}</em>
  </h4>

  <table class="table table-inverse table-hover header-fixed">
    <thead class="thead-dark">
      <tr>
        <th>Question</th>
        <th>Choice</th>
        <th>Votes</th>
        <th>%</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of stats">

        <td>{{ s.QuestionText }}</td>
        <td>{{ s.AnswerText }}</td>
        <td>{{ s.Votes }}</td>
        <td>{{ s.Perc }}</td>

      </tr>

    </tbody>
  </table>

  <!-- <app-pagination
  (goPage)="goToPage($event)"
  (goPrev)="goToPrevious()"
  (goNext)="goToNext()"
  [page]="page"
  [perPage]="limit"
  [count]="total">
  </app-pagination> -->

</div>

