<div class="section-container">
  <span class="badge badge-primary"><b>Surveys</b></span>
  <p></p>

  <table class="table table-hover">
    <thead class="">
      
        <!--<th>Name</th>
        <th>Purpose</th>-->
        <!--<th>Opened</th>-->
        <!--<th>Closed</th>
        <th>Status</th>-->
        <!--<th colspan="6"></th>-->

      
    </thead>
    <tbody>
      <tr *ngFor="let s of stats">

        <td>
          <h4><b>{{s.Name}}</b></h4><br />
          <em>{{ s.Purpose }}</em>
        </td>

        <td>
          <br /><br />
          <a routerLink="/survey-take/{{ s.Id }}">
            <i class="fa fa-pencil-square fa-1x" aria-hidden="true"></i>Take
          </a>
        </td>
        <td>
          <br /><br />
          <a routerLink="/summary-detail/{{ s.Id }}/0">
            <i class="fa fa-info-circle fa-1x" aria-hidden="true"></i>Stats
          </a>
        </td>
        <td>
          <br /><br />
          <a title="Create a new survey from a copy of this survey" routerLink="/survey-create/survey-question/{{ s.Id }}">
            <i class="fa fa-plus-square fa-1x" aria-hidden="true"></i>New
          </a>
        </td>

      </tr>
    </tbody>
  </table>
</div>
