<div class="section-container">
  <span class="badge badge-primary"><b>Surveys</b></span>
  <p></p>

  <table class="table table-inverse
      table-hover header-fixed">
    <thead class="thead-light">
      <tr>
        <!--<th>Name</th>
        <th>Purpose</th>-->
        <!--<th>Opened</th>-->
        <!--<th>Closed</th>
        <th>Status</th>-->
        <th colspan="6"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of stats">

        <td><b>{{s.Name}}</b></td>
        <td><i>{{ s.Purpose }}</i></td>

        <td><a routerLink="/survey-take/{{ s.Id }}">Take</a></td>
        <td><a routerLink="/summary-detail/{{ s.Id }}/0">Stats</a></td>
        <td><a title="Create a new survey from a copy of this survey" routerLink="/survey-create/survey-question/{{ s.Id }}">New</a></td>

      </tr>

    </tbody>
  </table>
</div>
