

<!--<option value="default">~~ select ~~</option>-->
  <form #surveyForm="ngForm" (ngSubmit)="onSubmit(surveyForm.value)">

    <!--<div>{{ surveyForm.value | json}}</div>-->

    <!--<img src="/images/survey1.png" width="20%"/>-->

    <div>
      <div>
        <span class="badge badge-primary">Id: </span> <em> {{stats.surveyid}}  </em>
        <span class="badge badge-primary"> Survey Name: </span> <em> {{stats.surveyname}}  </em>
        <span class="badge badge-primary"> Session: </span> <em> {{stats.sessionid}}</em>
      </div>
      <p>
      </p>

      <table class="table table-striped">

        <tr *ngFor="let row of stats.data">
          <td>
            <label>{{row.text}}</label>
          </td>

          <td>
            <select name={{row.id}} ngModel ng-style="'width':'100px'">
              <option *ngFor="let a of row.options.option" value={{a.id}}>
                {{a.text}}
              </option>
            </select>
          </td>
        </tr>
      </table>

      <div class="form-field">
        <button type="submit" class="btn btn-success">Submit</button>
        <!--[disabled]="!ngForm.form.valid-->
      </div>
    </div>
  </form>
