<form #surveyForm="ngForm" (ngSubmit)="onSubmit(surveyForm.value)">
  <div>{{ surveyForm.value | json}}</div>

  <div>
    <div>
      <span class="badge badge-primary"><b>{{stats['name']}}</b></span>
    </div>
    <p></p>

    <div *ngFor="let row of stats['questions']; let i = index">
      <label><b>{{i + 1}}.&nbsp;&nbsp;&nbsp;&nbsp; {{row.name}}</b></label>

      <div *ngIf="row.type == 'Dropdown'">
        <select name={{row.name}} ngModel ng-style="'width':'100px'">
          <option *ngFor="let a of row['answers']" value={{a.option}}>
            {{a.option}}
          </option>
        </select>
      </div>

      <div *ngIf="row.type == 'Radio'">
        <div *ngFor="let a of row['answers']">
          <input type="radio" ngModel name={{row.name}} value="{{a.option}}" />
          <label class="radio-label"for="{{a.option}}">{{a.option}}</label>
        </div>
      </div>

    </div>


      <!--<table class="table table-striped">
        <tr *ngFor="let row of stats['questions']">
          <td>
            <label>{{row.name}}</label>
          </td>

          <td *ngIf="row.type == 'Dropdown'">
            <select name={{row.name}} ngModel ng-style="'width':'100px'">
              <option *ngFor="let a of row['answers']" value={{a.option}}>
                {{a.option}}
              </option>
            </select>
          </td>

          <td *ngIf="row.type == 'Radio'">
            <input *ngFor="let a of row['answers']" type="radio" formControlName="{{row.name}}" value="{{a.option}}" />
            <label for="{{row.name}}">{{a.option}}</label>
          </td>

        </tr>
      </table>-->

      <div class="form-field">
        <button type="submit" class="btn btn-dark btn-block">Publish Survey</button>
      </div>
    </div>
</form>
